

/* center the container and imply margins */
#container {
  width: 90%;
  margin: auto;
}

/* make the div with the id lists into a flex container */
#lists {
  display: flex;
  justify-content: space-around;
}

/* General style and a little bit responsive text  */
body {
  background-color: cornflowerblue;
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 5em;
}

h2{
  font-size: 2em;
}

/* Modernize buttons and input */

button {
  background-color: steelblue;
  color: white;
  border: none;
}
#submit {
  padding: 0.35em 3em;
  margin-top: 10px;
  background-color: steelblue;
  color: white;
  border: none;
  font-size: 24px;
  vertical-align: bottom;
}
#submit:hover {
  background: rgba(100, 100, 100, .2);
}
button:focus {
  outline: 0;
}

#input-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

input {
  width: 300px;
  padding: 1em;
  vertical-align: bottom;
}

input:focus {
  outline: none;
}

#lists {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#lists button:hover, button:hover {
  background: rgba(100, 100, 100, .2);
}

#lists button:focus {
  outline:0;
  animation: jello-horizontal 0.9s both;
}

#lists button {
  border: 1px solid rgba(255,255,255, .5);
  color: rgba(255,255,255, .5);
  padding: 10px;
  margin-left: 20px;
}

#completed button {
  max-width: 20%;
  text-align: center;
}

#completed button:hover {
  background: rgba(241, 58, 58, 0.5);
}


/* make list containers flex */
#to-do-list,  #completed {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-basis: 40%;
  margin: 1em;
}

.to-do {
  display: flex;
  width: 60%;
  justify-content: flex-end;
  align-items: center;
}
.completed {
  display: flex;
  width: 60%;
  justify-content: flex-end;
  align-items: center;
}

.none {
  display: none;
}

/* Responsiveness */
@media (max-width:550px) {
  #lists {
    flex-direction: column;
  }
  #input-container {
    flex-direction: column;
    align-items: center;
  }
  input {
    width: 230px;
  }
}


/* New item animation */
@keyframes zoom-in {
  0% {
    transform: scale(1.1)
  }
  100% {
    transform: scale(1)
  }
}

/**
 * ----------------------------------------
 * animation jello-horizontal
 * ----------------------------------------
 */
@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
